* {
    margin: 0;
    padding: 0; }

html, body {
    font-family: 'PT Sans', Arial, sans-serif;
    line-height: 1.5;
    font-size: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: white;
    color: #2c3e50;
}
html a:focus, html a:hover, body a:focus, body a:hover {
    text-decoration: none; }

.btn-success {
    color: #fff;
    background-color: #27ae60;
    border-color: #31b167; }
.btn-success:hover {
    background-color: #2cc56d;
    border-color: #34b96c; }

/* -------------------------- .header-wrapper ------------------------------ */
.header-wrapper .navbar {
    border-bottom: 5px solid #27ae60;
    background-color: white;
    margin-bottom: 0; }
.header-wrapper .navbar .navbar-brand {
    height: 90px; }
.header-wrapper .navbar .logo .sh {
    color: black; }
.header-wrapper .navbar .logo .plus {
    color: #27ae60; }
.header-wrapper .navbar .logo .sh, .header-wrapper .navbar .logo .plus {
    font-family: arial, sans-serif;
    font-size: 60px;
    font-weight: bold;
    line-height: 60px; }
.header-wrapper .navbar .social {
    text-align: right;
    line-height: 90px; }
.header-wrapper .navbar .social .fa-stack {
    line-height: 1.9em; }
.header-wrapper .navbar .social .fa-stack i {
    border: 1px solid;
    border-radius: 50%; }
.header-wrapper .navbar .social a {
    color: #27ae60;
    opacity: 0.8; }
.header-wrapper .navbar .social a span {
    margin-left: 10px;
    cursor: pointer; }
.header-wrapper .navbar .social a:hover {
    color: #27ae60;
    opacity: 1; }
.header-wrapper .navbar .main-menu {
    text-align: right;
    line-height: 73px; }
.header-wrapper .navbar .main-menu .navbar-form {
    border-top: 0;
    border-bottom: 0;
    width: 100%; }
.header-wrapper .navbar .main-menu .navbar-form .form-group {
    width: 100%;
    position: relative; }
.header-wrapper .navbar .main-menu .navbar-form #search {
    width: 100%;
    padding-left: 30px; }
.header-wrapper .navbar .main-menu .navbar-form .bAutoComplete {
    height: auto;
    display: none;
    text-align: left;
    background-color: white;
    box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.7); }
.header-wrapper .navbar .main-menu .navbar-form #search_btn {
    margin-left: 10px;
    display: none; }
.header-wrapper .navbar .main-menu .navbar-form .mSearchAutoComplete {
    padding: 10px 0;
    width: 100%;
    position: absolute;
    left: 0;
    top: 56px;
    z-index: 2;
    display: none; }
.header-wrapper .navbar .main-menu .navbar-form .mSearchAutoComplete .eAutoComplete_itemMore {
    text-align: right; }
.header-wrapper .navbar .main-menu .navbar-form .mSearchAutoComplete .eAutoComplete_itemMore a {
    margin: 0;
    display: block !important;
    text-align: right;
    line-height: 0;
    padding: 10px 0; }
.header-wrapper .navbar .main-menu .navbar-form .mSearchAutoComplete .eAutoComplete_itemMore a span {
    font-size: 12px;
    color: #34b96c;
    border-bottom: 1px dashed #34b96c;
    line-height: 14px; }
.header-wrapper .navbar .main-menu .navbar-form .mSearchAutoComplete .eAutoComplete_itemMore a span:hover {
    color: #2c3e50;
    border-bottom: 1px dashed #2c3e50; }
.header-wrapper .navbar .main-menu .navbar-form .mSearchAutoComplete .eAutoComplete_itemList {
    line-height: 0;
    margin: 5px 0;
    opacity: 0.5; }
.header-wrapper .navbar .main-menu .navbar-form .mSearchAutoComplete .eAutoComplete_itemList:last-child a {
    border-bottom: 0; }
.header-wrapper .navbar .main-menu .navbar-form .mSearchAutoComplete .eAutoComplete_itemList a {
    background: none;
    padding: 5px 8px;
    margin: 0;
    color: #555;
    line-height: 14px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
    width: 100%;
    border-bottom: 1px solid lightgrey; }
.header-wrapper .navbar .main-menu .navbar-form .mSearchAutoComplete .eAutoComplete_itemList a .infoBook .title {
    line-height: 25px;
    font-size: 16px;
    font-weight: 500; }
.header-wrapper .navbar .main-menu .navbar-form .mSearchAutoComplete .eAutoComplete_itemList a .col-my-2 {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
    float: left;
    width: 7%; }
.header-wrapper .navbar .main-menu .navbar-form .mSearchAutoComplete .eAutoComplete_itemList a .col-my-10 {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
    float: left;
    width: 93%; }
.header-wrapper .navbar .main-menu .navbar-form .mSearchAutoComplete .eAutoComplete_itemList a img {
    max-height: 50px; }
.header-wrapper .navbar .main-menu .navbar-form .mSearchAutoComplete .eAutoComplete_itemList:hover {
    opacity: 1; }

/*------------------------------- .footer-wrapper  --------------------------*/
.footer-wrapper {
    position: absolute;
    width: 100%; }
.footer-wrapper .content_footer {
    color: white;
    text-align: center;
    background-color: #3d3d3d;
    padding: 5px; }
.footer-wrapper .content_footer i.fa-heart {
    padding: 0 5px;
    color: #dc4242;
    cursor: pointer; }
.footer-wrapper .content_footer i.fa-heart:hover {
    color: white; }

@-webkit-keyframes displaySweetAlert {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0); }
    10% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1); }
    20% {
        -webkit-transform: scale(0.2);
        transform: scale(0.2); }
    30% {
        -webkit-transform: scale(0.3);
        transform: scale(0.3); }
    40% {
        -webkit-transform: scale(0.4);
        transform: scale(0.4); }
    50% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5); }
    60% {
        -webkit-transform: scale(0.6);
        transform: scale(0.6); }
    70% {
        -webkit-transform: scale(0.7);
        transform: scale(0.7); }
    80% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8); }
    90% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9); }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1); } }

@keyframes displaySweetAlert {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0); }
    10% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1); }
    20% {
        -webkit-transform: scale(0.2);
        transform: scale(0.2); }
    30% {
        -webkit-transform: scale(0.3);
        transform: scale(0.3); }
    40% {
        -webkit-transform: scale(0.4);
        transform: scale(0.4); }
    50% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5); }
    60% {
        -webkit-transform: scale(0.6);
        transform: scale(0.6); }
    70% {
        -webkit-transform: scale(0.7);
        transform: scale(0.7); }
    80% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8); }
    90% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9); }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1); } }

.showSweetAlert[data-animation=pop] {
    -webkit-animation: displaySweetAlert 0.2s;
    animation: displaySweetAlert 0.2s; }

/* Large devices (large desktops, 1200px and up) */
/* Medium devices (desktops, 991px and up) */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 990px) {
    .titleBook {
        width: 100%; }
    .bookRow {
        font-size: 14px !important; }
    .bookRow .properties {
        width: 20%; }
    .btnBlock {
        margin-top: 20px; }
    .bookDescription {
        margin-top: 20px;
        padding: 0 15px 0 15px; } }

/* Mobile devices (mobile, 319px and up) */
@media (min-width: 320px) and (max-width: 767px) {
    .form-group {
        left: 10%; }
    .sidebar2 a {
        font-size: 50% !important; }
    .sidebar2 .btn-success {
        font-size: 50% !important; }
    .table-hover {
        font-size: 30% !important; }
    .mSearchAutoComplete .eAutoComplete_itemList {
        height: auto !important; }
    .mSearchAutoComplete .eAutoComplete_itemList a {
        padding: 10px 0 !important; }
    .mSearchAutoComplete .eAutoComplete_itemList .col-my-2 {
        display: none; }
    .mSearchAutoComplete .eAutoComplete_itemList img {
        display: none; }
    .mSearchAutoComplete .eAutoComplete_itemList .title {
        font-size: 14px !important; }
    .mSearchAutoComplete .eAutoComplete_itemList .author {
        font-size: 12px !important; }
    .titleBook {
        width: 100% !important;
        text-align: center; }
    #bookImg {
        float: none;
        text-align: -webkit-center; }
    #bookImg img {
        text-align: center; }
    .info {
        padding: 15px 0; }
    .btnBlock {
        text-align: center;
        padding: 25px 0 10px 0; }
    .btnBlock .btnBookID {
        float: none !important; }
    .bookDescription {
        max-height: 100% !important;
        overflow: auto !important; }
    .bookDescription h4 {
        text-align: center; }
    .logo .sh, .logo .plus {
        font-size: 50px !important; } }

/* Mobile devices (mobile, 319px and up) */
@media (min-width: 320px) and (max-width: 376px) {
    .container {
        width: 320px; } }